.container {
  perspective: 1000px;
}

.inner {
  transform-style: preserve-3d;
  transition: transform 0.5s;
  position: relative;
}

.inner.flipped {
  transform: rotateY(180deg);
  min-height: 200px;
}

.face {
  backface-visibility: hidden;
}

.back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  position: absolute;
  inset: 0;
}

.image {
  max-height: 300px;
}
